<!-- <div class="uk-cover-container uk-height-medium">
  <img src="/assets/image/bg.jpg" alt="" uk-cover>
</div> -->
<div class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-background-secondary" style="background-image: url('assets/image/bg.jpg')">
  <div class="uk-offcanvas-content">
    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative" data-uk-height-viewport="min-height: 400">
        <div class="uk-text-center">
            <div class="lds-facebook"><div></div><div></div><div></div></div>
            <h4>Đang chuyển trang ...</h4>
        </div>
        
    </div>
  </div>
</div>